
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
          <div class="col-12">
              <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Registration Form</h3>
          </div>
          <form >
              <div class="row g-3">
                  <div class="col-md-6">
                      <label>First Name </label>
                      <input name="userId" class="form-control" required
                          #userId="" type="text" class="form-control" placeholder="first name">
                  </div>
                  <div class="col-md-6">
                      <label>Last Name </label>
                      <input name="userId" class="form-control" required
                          #userId="" type="text" class="form-control" placeholder="last name">
                  </div>
                  <div class="col-md-6">
                      <label>Email </label>
                      <input name="userId" class="form-control" required
                          #userId="" type="email" class="form-control" placeholder="enter email">
                  </div>
                  <div class="col-md-6">
                      <label>Phone Number </label>
                      <input name="userId" class="form-control" required
                          #userId="" type="number" class="form-control" placeholder="enter phone number">
                  </div>
                  <div class="col-md-6">
                      <label>Age</label>
                      <input name="userId" class="form-control" required
                          #userId="" type="number" class="form-control" placeholder="age">
                  </div>
                  <div class="col-md-6">
                      <label>DOB </label>
                      <input name="userId" class="form-control" required
                          #userId="" type="date" class="form-control" placeholder="date of birth">
                  </div>
                  
                  <div class="col-12 mt-5">
                      <button type="submit" class="btn btn-primary float-end">Register</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>