
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Appointment Status</h3>
            </div>
            <form action="">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="">Name</label>
                    </div>

                    <div class="col-md-6">
                        <label for="">Ayush Tembhare</label>                       
                    </div>
                    <div class="col-md-6">
                        <label for="">Phone Number</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">8435232131</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">status</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">Pending</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">Test Center</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">Gamma1</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">Test Date</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">23/12/24</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">Test Time</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">4pm</label>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

