
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Book Appointment</h3>
            </div>
            <form (ngSubmit)="formSubmit()">
                <div class="row g-3">
                    <div class="col-12">
                        <label>Appointment Date</label>
                        <input name="userId" [(ngModel)]="appointment.appointDate" class="form-control" required
                            #userId="ngModel" type="date" class="form-control" placeholder="Select Date">
                    </div>
                    <div class="col-12">
                        <label>Select Test Name</label>
                        <select class="form-select"  name="userName" #userName="ngModel" [(ngModel)]="appointment.testName" class="form-control">
                            <option selected>Select Test</option>
                            <option value="Heart Cheakup"> Heart Cheakup</option>
                            <option value="Lungs checkup">Lungs checkup</option>
                            <option value="Kidney checkup">Kidney checkup</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label>Select Test Time</label>
                        <input name="userName" #userName="ngModel" [(ngModel)]="appointment.testTime" class="form-control" type="time" class="form-control" placeholder="Select Time">
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
                        <button type="reset" class="btn btn-outline-secondary float-end me-2">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div>
    <div>
        <div>
            Date is {{appointment.appointDate}}
        </div>
        <div>
            Test Name is {{appointment.testName}}
        </div>
        <div>
            Time is {{appointment.testTime}}
        </div>
    </div>
</div> -->