<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm  border-bottom" style="background-color: #add3ee;">
  <div class="container-fluid sticky-top">
    <h3>Welcome Admin</h3>
  </div>

  <div class="container-fluid sticky-top">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="diagnoHome">Diagnostic Centers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="testpage">Test Centers</a>
      </li>
    </ul>
  </div>       
</nav>