<!-- <nav>
    <div class="bg-info">
        <span>
            <h4 style="float: left;">Welcome to HealthCare</h4>
            <h4 style="float: right;">Welcome! xyz</h4>
        </span>
    </div>
</nav>

<div class=" bg-info" style="height: 35px; padding: 5px;">

    <label>
        <a style="padding-right: 30px;" href="https://www.google.com/">Health Care</a>
        <a style="padding-right: 30px;" href="https://www.google.com/">User Profile</a>
        <a style="padding-right: 30px;" href="https://www.google.com/">Appointments</a>
        <a style="padding-right: 30px;" href="https://www.google.com/">Logout</a>
    </label>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HealthCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">User profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Appointments">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
   
</nav>
