
<nav class="navbar navbar-expand-lg navbar-light sticky-top"  style="background-color: #add3ee;">
  <a class="navbar-brand " href="healthcare">HealthCare</a>
  <button class="navbar-toggler sticky-top" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse sticky-top" id="navbarNavDropdown" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="userprofile">Profile </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select Diagnosis Center
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="appointment">Gamma 1</a>
          <a class="dropdown-item" href="appointment">Pari Chowk</a>
          <a class="dropdown-item" href="appointment">Beta 2</a>
          <a class="dropdown-item" href="appointment">Knowlwdge Park</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="appointment-status"> View Appointment </a>
      </li>

    </ul>
  </div>
  <button class="btn btn-outline-success float-right me-2 " href="#" role="button">Logout</button>
</nav>



<div>
  <div class="h-5 d-inline-block border border-bottom" style="height: 1000px; width: 1400px;">
      <img src="./assets/images/labnew.jpg" style="width: 100%; height: 100%; object-fit: cover; ">
      <!-- <img src="./assets/images/micro2.jpg" style="width: 40%; height: 40%; float: right;"> -->
      <div>
          <div class="imagepara">
              <p class="carousel-caption" style="font-size: 22px; font-weight: 400;line-height: 30px;padding: 10px; color: black; float: left;">
  
                  Welcome to our healthcare center, where your well-being is our priority. Our dedicated team of
                  compassionate professionals is committed to providing personalized and comprehensive care. From
                  preventive services to specialized treatments, we strive to enhance your health and empower you to live
                  your best life. Experience healthcare excellence with us.</p>
          </div>
      </div>
  </div>
  </div>

<div class="container">
  <hr>
  <div class="customerpara">
      <h2 class="center mt-4 mb-4 newd-border text-center">
          <span>Why Choose HealthCare</span>
      </h2>
      <p>HealthCare centre is one of the leading diagnostic centre chains in India. We have been offering our
          ever-expanding client base that consists of patients and corporate clients quality assured diagnostic
          services
          for more than 40 years now. We have put together all the resources on our official website that allows you
          to book tests at HealthCare
          Diagnostics centre from the comfort of your home with just a swipe, scroll and click.
          <br>
          <br>
          The HealthCare centre home sample collection team consists of several certified and well-trained
          personnel that carefully collect samples from patients who are unable to visit our nearest diagnostic centre
          to
          submit their samples.
          <br>
          <br>
          In terms of costs, HealthCare diagnostics' centre health packages all entail reasonable tariffs.
          Furthermore, HealthCare
          diagnostic centre test packages are carefully designed to suit the needs of patients and their
          prescriptions.
          Furthermore, visit any of our 100+ diagnostic centres located in more than 17 cities of India, and you would
          find that the diagnostic centre is staffed with 200+ professionals. Our diagnostic services are trusted by
          every age group which is why; we have been successful in serving 50+
          million patients and 250+ corporate clients to date!
          <br>
          <br>
          Please visit the nearest HealthCare diagnostic centre or log on to the official website of our diagnostic
          centers to
          find a pathology lab near you today.
      </p>
  </div>
</div>