
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">User Profile</h3>
            </div>
            <form action="">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="">Name</label>
                    </div>

                    <div class="col-md-6">
                        <label for="">Ayush Tembhare</label>                       
                    </div>
                    <div class="col-md-6">
                        <label for="">Phone Number</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">8435232131</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">Email</label>
                    </div>

                    <div class="col-md-6">
                        <label for="">ayushtembhare2001</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">DOB</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">10/07/2001</label>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>